/* default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

a {text-decoration: none;}

ul {display: inline-block;}

.styl_btn {
    padding:8px 16px;
    color: #fff;
    background-color: #0061fe;
}

/* default settings */

/* nav */
header {
    border: 1px solid #010101;
}

nav {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.navigation img {
    display: inline-block;
    vertical-align: middle;
    padding-left: 32px;
}

.navigation ul li {
    display: inline-block;
    line-height: 80px;
    padding: 0 32px;
}

.sx {float: left;}
.dx {float: right;}

/* main-banner */

.main {
    max-height: 750px;
    background-color: #b4d0e7;
}

#main_banner {
    margin: 0 auto;
    width: 1500px;
    content: "";
    display: table;
    clear: both;
}

#main_banner h1 {
    font-size: 95px;
    padding: 80px 0;
}

.left_info {
    float: left;
    width: 400px;
    height: 200px;
}

#cta_bloc {
    padding: 24px 0 32px;
}

#cta_bloc p {
    margin-top: 24px;
}

.fas {
    font-size: 32px;
}

.right_info {
    float: left;
    width: 800px;
    margin-left: 100px;
}

.right_info img {
    width: 100%;
}